.wrapper {
 width: 100%;
 height: 100%;
 min-height: 500px;
 border: 1px solid var(--Gray3);
 border-radius: 8px;
 padding-left: 45px;
 padding-right: 45px;
}

.noteBox {
 width: 100%;
}

.noteTitle {
 width: 100%;
 height: 55.45px;
 margin: 0;
 font: var(--HeadlineSMedium);
 color: var(--SubColor1);
 border-bottom: 1px solid var(--Gray3);
 margin-top: 49.5px;
}

.noteContent {
 margin-top: 31px;
 color: var(--SubColor1);
}

.mynote__image {
 max-width: 100%;
}

.mynote__fileList {
 display: flex;
 flex-direction: column;
 gap: 5px;
}

.mynote__fileItem {
 display: flex;
 align-items: center;
}

.mynote__fileButton {
 cursor: pointer;
 margin-right: 10px;
 background-color: var(--Gray2);
 border-radius: 5px;
 padding: 2px 6px;
 color: var(--MainColor1);
 font: var(--Content);
 font-size: 12px;
 border: 2px solid var(--Gray1);
}
