.button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 18px 24px;
  border-radius: 50px;
  background: var(--MainColor2);
  color: var(--MainColor1);
  text-decoration: none;
  font: var(--ButtonLMedium);
  position: fixed;
  bottom: 20%;
  right: 9%;
  z-index: 1000;
}
