.pageWrapper {
 display: flex;
 justify-content: center;
 box-sizing: border-box;
}

.container {
 width: 100%;
 max-width: 1236px;
 display: flex;
 flex-direction: column;
 gap: 2rem;
 margin-left: auto;
 margin-right: auto;
 padding-top: 5vh;
 padding-bottom: 5vh;
 /* min-height: calc(100% - 120px);  */
}

.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: nowrap;
 min-width: 870px;
}

.sortWrapper {
 position: relative;
 z-index: 10;
}

/* 안됨
.header > * {
  align-self: center;
} */

.cardGrid {
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 3.1rem 1.5rem;
}

.empty {
 flex: 1;
 min-height: 400px;
 display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 color: var(--SubColor1);
 font: var(--BodyXLMedium);
}
