.pagenation__container {
 display: flex;
 flex-direction: row;
 width: 100%;
 justify-content: center;
 gap: 30px;
 margin-top: 80px;
 margin-bottom: 100px;
}

.pagenation__arrow_container {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 width: 80px;
}

.pagenation__arrow {
 display: flex;
 flex-direction: row;
 align-items: center;
 cursor: pointer;
 padding-left: 10px;
 justify-content: center;
 border-radius: 8px;
}

.pagenation__arrow:hover {
 background-color: var(--Gray4);
 height: 100%;
}

.pagenation__arrow p {
 margin: 0;
 white-space: nowrap;
 font: var(--ButtonAddsizeMedium);
 color: var(--Gray0);
}

.pagenation__arrow_left {
 display: flex;
 flex-direction: row;
 align-items: center;
 cursor: pointer;
 padding-right: 10px;
 justify-content: center;
 border-radius: 8px;
}

.pagenation__arrow_left:hover {
 background-color: var(--Gray4);
 height: 100%;
}

.pagenation__arrow_left p {
 margin: 0;
 white-space: nowrap;
 font: var(--ButtonAddsizeMedium);
 color: var(--Gray0);
}

.pagenation__number {
 background-color: white;
 display: flex;
 border: 1px solid var(--Gray2);
 border-radius: 8px;
 padding: 5px 15px;
 font: var(--ButtonAddsizeMedium);
}

.pagenation__current {
 margin: 0 5px 0 0;
 color: var(--MainColor2);
}

.pagenation__total {
 margin: 0;
 color: var(--Gray0);
}
