.detail__container {
 padding: 3% 5%;
 border: 1px solid var(--Gray3);
 border-radius: 8px;
 height: 100%;
 font: var(--TitleMBold);
 color: var(--SubColor1);
 /* min-height: 50%;; */
}

.detail__header {
 border-bottom: 1px solid var(--Gray3);
 padding-bottom: 20px;
 margin-bottom: 20px;
}

.detail__title {
 font: var(--TitleMBold);
 color: var(--SubColor1);
 margin-bottom: 20px;
}

.detail__info {
 display: flex;
 flex-direction: column;
 gap: 8px;
 font: var(--BodySRegular);
}

.detail__writer {
 color: var(--Gray0);
}

.detail__date {
 color: var(--Gray1);
}

.detail__content {
 font: var(--Content);
 color: var(--SubColor1);
}

.detail__image {
 width: 100%;
}

.detail__fileList {
 display: flex;
 flex-direction: column;
 gap: 5px;
}

.detail__fileItem {
 display: flex;
 align-items: center;
}

.detail__fileButton {
 cursor: pointer;
 margin-right: 10px;
 background-color: var(--Gray2);
 border-radius: 5px;
 padding: 2px 6px;
 color: var(--MainColor1);
 font: var(--Content);
 font-size: 12px;
 border: 2px solid var(--Gray1);
}

.detail__fileSize {
 font: var(--BodyXSRegular);
 color: var(--Gray0);
 font-size: 12px;
}
