.tabContainer {
  display: flex;
  justify-content:  space-between;
  align-items: center;
  margin: 3rem auto 0 auto;
  width: 100%;
  max-width: 1236px;
  min-width: 1000px;
  box-sizing: border-box;

}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: var(--Gray0);
  transition: color 0.2s ease;
}

.active {
  color: var(--MainColor2);
}

.icon {
  width: 45px;
  height: 45px;
  margin-bottom: 0.5rem;
}

.label {
  font: var(--ButtonMMedium);
}

