.wrapper {
  display: flex;
}

/* 공통 Step 스타일 */
.step {
  width: 140px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: var(--TitleMBold);
  color: var(--MainColor1);
  z-index: 1;
  position: relative;
}

.left {
  clip-path: polygon(
    0% 0%, 
    85% 0%, 
    100% 50%, 
    85% 100%, 
    0% 100%, 
    0% 50%
  );
  border-top-left-radius: 999px;
  border-bottom-left-radius: 999px;
  margin-right: -18px; /* 간격 더 좁게! */
}

.middle {
  clip-path: polygon(
    0% 0%, 
    85% 0%, 
    100% 50%, 
    85% 100%, 
    0% 100%, 
    15% 50%
  );
  margin-right: -18px; /* 간격 더 좁게! */
}

/* 오른쪽 끝 스텝 */
.right {
  clip-path: polygon(
    0% 0%, 
    100% 0%, 
    100% 50%, 
    100% 100%, 
    0% 100%, 
    15% 50%
  );
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

/* 상태별 색상 - 투명도 적용 */
.before {
  background-color: rgba(153, 153, 153, 0.8); /* 회색 */
  color: #ffffff5d; /* 비활성 느낌의 텍스트 컬러 */
}

.after {
  background-color: rgba(164, 78, 56, 0.8); /* 갈색 */
  color: var(--MainColor1);
}

.current { /* 현재 스텝이 '선택 해제된 상태'일 때 */
  background-color: rgba(164, 78, 56, 0.8);
  color: var(--MainColor1);
}

.selected { /* 강조(메인 컬러) */
  background-color: var(--MainColor2) !important;
  color: var(--MainColor1) !important;
}