.div__container {
  display: flex;
  flex-direction: column;
}

.label {
  font: var(--BodyMRegular);
  color: var(--PointColor);
  display: block;
  margin-bottom: 17.5px;
}

.input__container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 500px;
  height: 53px;
  border: 1px solid var(--Gray1);
  border-radius: 4px;
  overflow: hidden;
  padding-right: 10px;
}

.input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 10px;
}

.input::placeholder {
  font: var(--BodySRegular);
  color: var(--Gray3);
}

.dup__button {
  width: 80px;
  height: 33px;
  padding: 8px;
  border-radius: 4px;
  font: var(--ButtonSMedium);
  color: var(--PointColor);
  background-color: white;
  border: 1px solid var(--PointColor);
  cursor: pointer;
}

.dup__button.active {
  background-color: var(--MainColor2);
  color: #FFFFFF;
  border-style: none;
}

.input__require {
  font: var(--BodyXSRegular);
  color: var(--Gray2);
  padding-top: 10px;
}

/* ✅ 에러는 자기 모듈에서 !important로 고정 */
.require__error {
  color: var(--MainColor2) !important;
}

.success {
  color: var(--MainColor2);
}