.label {
    font: var(--BodyMRegular);
    color: var(--PointColor);
    display: block;
    margin-bottom: 17.5px;
}

.input::placeholder {
    font: var(--BodySRegular);
    color: var(--Gray3);
}

.input__container {
    border: 1px solid var(--Gray1);
    box-sizing: border-box;
    border-radius: 4px;
    width: 500px;
    display: flex;
    padding-right: 16px;
    padding-left: 1.3px;
    align-items: center;
}

.input {
    flex: 1;
    height: 100%;
    font-size: 16px;
    padding: 16px;
    border-style: none;
    outline: none;
}

.toggle__btn {
  background-image: url("../../assets/Group.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  z-index: -1;
}

.input__require {
    font: var(--BodyXSRegular);
    color: var(--Gray2);
    padding-top: 10px;
}

.input__require2 {
    font: var(--BodyXSRegular);
    color: var(--Gray2);
    padding-top: 5px;
}

.input__container:focus-within {
  border: 1px solid var(--PointColor);
}