.page__wrapper {
  display: flex;
  justify-content: center;
}

.div__container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.signUp__title {
  font: var(--HeadlineLMedium);
  color: var(--PointColor);
  align-self: flex-start;
  margin-bottom: 36px;
}

.buttonWrapper {
  position: relative;
  width: 500px; /* 버튼과 동일한 폭 */
  align-self: center; /* 화면 가운데 정렬 */
  margin-top: 20px;
}

.formError {
  position: absolute;
  bottom: 100%; /* 버튼 바로 위 */
  left: 0; /* 버튼 왼쪽에 맞춤 */
  margin-bottom: 5px; /* 버튼과의 간격 */
  font: var(--BodyXSRegular);
  color: var(--MainColor2);
  white-space: nowrap;
  text-align: left;
}

.button {
  width: 500px; /* 버튼 폭 고정 */
  height: 80px;
  background-color: var(--MainColor2);
  font: var(--ButtonXLMedium);
  color: #FFFFFF;
  border-style: none;
  border-radius: 14px;
  cursor: pointer;
}